<h1>{{title}}</h1>

<div class="container">
    <button (click)="onSave()">Save</button>
    <my-sizer [size]="fontSizePx" (sizeChange)="fontSizePx=$event"></my-sizer>

    <!-- Les deux syntaxe sont equivalentes, mais pour detaille je garde tout -->
    <my-sizer [(size)]="fontSizePx"></my-sizer>
    <div [style.font-size.px]="fontSizePx">Resizable Text</div>


    <!-- NgClass binding -->
    <hr><h2 id="ngClass">NgClass Binding</h2>

    <p>currentClasses returns {{currentClasses | json}}</p>
    <div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special</div>

    <!-- NgStyle binding -->
    <hr><h2 id="ngStyle">NgStyle Binding</h2>

    <div [style.font-size]="isSpecial ? 'x-large' : 'smaller'" >
        This div is x-large.
    </div>

    <h3>[ngStyle] binding to `currentStyles` - CSS property names</h3>
    <p>currentStyles returns {{currentStyles | json}}</p>
    <div [ngStyle]="currentStyles">
        This div is initially italic, normal weight, and extra large (24px).
    </div>


    <div [style.font-size]="isSpecial ? 'x-large' : 'smaller'" >
        This div is x-large.
    </div>


    <hr><h2 id="ngStyle">Template expression operator</h2>
    <div>
        Title through a pipe chain:
        {{title | uppercase | lowercase}}
    </div>
    <!-- pipe with configuration argument => "February 25, 1970" -->
    <div>Birthdate: {{currentHero?.birthdate | date:'longDate'}}</div>
    <div>{{currentHero | json}}</div>
    The current hero's name is {{currentHero?.name}}
    The title is {{title}}
        <!--No hero, div not displayed, no error -->
    <div *ngIf="nullHero">The null hero's name is {{nullHero.name}}</div>
    <div>The null hero's name is {{nullHero && nullHero.name}}</div>
    <!-- No hero, no problem! -->
    <div>The null hero's name is {{nullHero?.name}}</div>

</div>
